# System & Dependencies
node_modules/
.DS_Store
Thumbs.db
.vscode/

# Exclude Everything EXCEPT the Core Essentials
.github/

# Exclude local Cypress test artifacts & downloads
cypress/downloads/
cypress/screenshots/
cypress/videos/

# Exclude static mock files, PDFs, and CSVs
cypress/fixtures/

# Exclude custom commands files to prevent credential/utility leaks
cypress/support/

# Private Environment Variables
cypress.env.json
.env
last-account.json

# IDE / Editor Configurations
.vscode/
.idea/